.container-bar {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  background: #f00;
  text-align: center;
  color: white;
}

.container-bar--unable {
  background-color: #dbdbde;
  opacity: 0.6;
}

.swiper-block {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #dbdbde;
  text-align: center;
  color: #999;
  font-size: 12px;
}

.swiped-part {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #72C240;
}

.success-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #72C240;
  color: #fff;
  border-radius: 50%;
}